@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(240, 253, 240);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progessbar-fill {
    background: #a8dadc !important; 
}

@layer components {
    .label-text {
        @apply text-lg mt-6 font-semibold;
    }
}

